@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-layout {
  display: grid;
  gap: 1px; /* Adjust gap size as needed */


}

.grid-item {
  border: 1px solid gray;
  text-align: center;
  /* Add more styling as needed */
  border: border-gray-600;
  flex: text-center;
  height: 40px;
  width: 40px;
}
