@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-layout {
  display: grid;
  gap: 1px;

}

.grid-item {
  border: 1px solid gray;
  text-align: center;
  /* Add more styling as needed */
  flex: text-center;
  height: 10vw; /* Adjust based on your design */
  width: 10vw; /* Adjust based on your design */
  max-width: 40px;
  max-height: 40px;
  min-width: 20px; /* Adjust these min values to ensure a minimum size */
  min-height: 20px;
}

.selected-color {
  background-color:#ffcdd2;
  padding: 2px;
  border-radius: 2px;
}
