@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-layout {
  display: grid;
  gap: 1px;
}

.grid-item {
  border: 1px solid gray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1; /* Keeps the item square */
  user-select: none;
  /* Remove fixed height and width to allow flexibility */
  /* Optionally, set a min-width and min-height to ensure a minimum size, but it's now handled in grid-template-columns */
}


.selected-color {
  background-color:#ffcdd2;
  padding: 2px;
  border-radius: 2px;
}
